body.public_index #block_5 {
  width: 100% !important;
  margin-top: 0px!important;
}

.layout_component_92 #block_5 > p:first-child {
  display: none !important;
}

#header {
  background: black !important;
  padding-left: 50px !important;
  padding-right: 50px !important;
}

#header #header-inner {
  max-width: 100vw !important;
  width: 100% !important;
}

#header #header-inner #block_12 {
  margin-left: auto !important;
}

#block_12 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
}

#block_12 > span {
  grid-column: 1 / -1;
  text-align: left;
}

#block_12 > p:nth-of-type(1),
#block_12 > p:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  margin: 0;
}

#block_12 > p:nth-of-type(1) {
  grid-column: 1;
  grid-row: 2;
}

#block_12 > p:nth-of-type(2) {
  grid-column: 2;
  grid-row: 2;
}

#everything-outer div.search-outer form.search {
  display: flex !important;
  flex-direction: row-reverse !important;
}

#everything-outer div.search-outer form.search .control-group:last-child {
  position: relative !important;
}

#header #header-inner div.search-outer form.search input.keywords {
  background-color: black !important;
}

#nav-outer {
  max-width: 100vw!important;
  padding-left: 50px!important;
  padding-right: 50px!important;
  margin: 0 !important;
  background: #65b746 !important;
}

#nav-inner {
  width: 100% !important;
}

#nav-inner #navbar .aside {
  gap: 15px !important;
}

#nav-inner #navbar .aside .acc-btn:before {
  margin-right: 15px !important;
}

#nav-inner #navbar #menu_5 li a {
  color: white !important;
  border-right: 1px solid white !important;
  padding: 0 15px !important;
}

#nav-inner #navbar div.cart-outer div.cart div.total {
  margin-left: 15px !important;
}

#body.public_index #content {
  max-width: 100vw !important;
  width: 100% !important;
  padding-left: 50px !important;
  padding-right: 50px !important;
}

#homepage-promotion #clearance-left {
  display: none !important;
}

#homepage-cta2, #homepage-latest-news, #homepage-image-slider-1, #homepage-cta-hotproduct, #homepage-promotion {
  max-width: 100vw !important;
  width: 100% !important;
}

body.public_index #homepage-cta-hotproduct a.btn.see-all, body.public_index #home-categories~a.btn.see-all {
  display: none !important;
}

body.public_index #footer {
  padding-left: 50px !important;
  padding-right: 50px !important;
}

#footer #footer-inner {
   max-width: 100vw !important;
  width: 100% !important;
}

#footer #footer-top .address-wrapper {
  flex-wrap: nowrap !important;
  flex-direction: row !important;
}

#footer {
  background: black !important;
}

#footer-top {
  display: grid !important;
  grid-template-columns: 1fr 1fr !important;
  gap: 15px !important;
}

#footer-top > div:nth-child(1) {
  grid-column: 1 / -1 !important;
}

#footer-top > div:nth-child(2) {
  grid-column: 1 !important;
  grid-row: 2 !important;
  justify-self: start !important;
  margin-right: 50px !important;
}

#footer-top > div:nth-child(3) {
  grid-column: 2 !important;
  grid-row: 2 !important;
}

#footer-column3 {
  margin-left: 50px !important;
}

#menu_4 {
 display: grid !important;
  grid-template-rows: repeat(5, auto) !important;
  grid-auto-flow: column !important;
  column-gap: 40px !important;
  margin-bottom: 50px !important;
}

#menu_2 {
  display: grid !important;
  grid-template-rows: repeat(3, auto) !important;
  grid-auto-flow: column !important;
  column-gap: 50px !important;
}

body.public_index #home-categories {
    margin-top: 0 !important;
    position: relative !important;
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr 1fr !important;
    grid-template-rows: 1fr 1fr !important;
    gap: 15px !important;
}

body.public_index #home-categories > :first-child {
  grid-column: 1 / 3 !important;
  grid-row: 1 / 3 !important;
}

#home-categories.layoutmanager-layout-group.layout_group_52 {
  display: none !important;
}
